.logicElement {
	display: block;
	height: 100%;
	width: 100%;
}

.logicWidget {
	margin: auto;
	width: 198px;
	height: 54px;
	border-radius: 5px;
	background-color: #DDDDDD;
	padding: 3px;
	opacity: 0.5;
}
