.spinnerElement {
	display: block;
	height: 100%;
	width: 100%;
}

.spinnerWidget {
	margin: auto;
	width: 198px;
	height: 54px;
	border-radius: 5px;
	background-color: #DDDDDD;
	padding: 3px;
	opacity: 0.5;
}

.spinnerButton {
	border-style: none;
	margin: 0;
	padding: 0;
	width: 48px;
	height: 48px;
}

.spinnerButton[disabled] {
	opacity: 0.5;
}